<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
</body>
<head th:fragment = "default_ts(title, scripts)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    
    <title th:replace="${title}">머찜</title>
    
    <script type="text/javascript" charset="utf-8" src="/jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="/jquery/AES_Security.js"></script>
    <script type="text/javascript" charset="utf-8" src="/jquery/md5.js"></script>
    <script type="text/javascript" charset="utf-8" src="/jquery/sha256.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/jquery/siiimple-toast.css"/>
    
    <script type="text/javascript" charset="utf-8" src="/js/common.js"></script>
    <script defer type="text/javascript" charset="utf-8" src="/jquery/siiimple-toast.min.js"></script>
<!--    <link rel="stylesheet" href="/css/common.css">-->
    
    <th:block th:replace="${scripts}"/>
</head>

</html>