<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/default :: default_ts(~{::title}, ~{::script})}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>저장 계산식</title>
    
    <script defer type="text/javascript" src="/js/list.js"></script>
    <script type="text/javascript" charSet="utf-8">
        $(function () {
            init();
        });
    </script>
</head>
<body>
<div id="wrap" class="sub">
    <div th:replace="~{layout/header :: header('리스트')}"></div>
    
    <section class="subSection">
        <div class="subSectionConts">
          
            <div class="sub-top">
                <div class="subSectionBtm">
                    <button type="button" class="btnTy2 half machine">일반 계산기</button>
                    <button type="button" class="btnTy2 half addBtn">추가하기</button>
                </div>
                
                <ul class="linkLst board addLocalList">
<!--                    <li><div class="boardTit width100per"><p class="center">등록된 식이 없습니다.</p></div></li>-->
                </ul>
<!--                <ul class="linkLst full addLocalList">-->
<!--                    <li>-->
<!--                        <a href="javascript:">등록된 식이 없습니다.</a>-->
<!--                    </li>-->
<!--                   -->
<!--                </ul>-->
            </div>
        </div>

    </section>
    
    <div class="subSectionBtm">
<!--        <button type="button" class="btnTy2 machine">일반 계산기</button>-->
<!--        <button type="button" class="btnTy2 addBtn">추가하기</button>-->
        <button type="button" class="btnTy2 delBtn">삭제하기</button>
    </div>


</div>



</body>
</html>
