<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/default :: default_ts(~{::title}, ~{::script})}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta name="google-signin-client_id"-->
<!--          content="270972068184-3uf0l3s9m2uemqvf9bfnrlr92c44m464.apps.googleusercontent.com">-->
    
    <title>계산기 리스트</title>
    
    <script src="https://accounts.google.com/gsi/client" defer async></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    
    <script type="text/javascript" src="/js/snsLogin.js" async defer></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    
    <script type="text/javascript" charSet="utf-8">
        $(function () {
            init();
        });
    </script>
</head>
<body>
<div id="wrap" class="sub">
    
<!--    <div th:replace="~{layout/header :: header_prev('SNS 로그인')}"></div>-->
    <section class="subSection">
        <div class="subSectionConts">
            
            <div class="sub-top">
                <ul class="linkLst full">
                    <li>
                        <div id="google_OAuth_login"></div>
                        <button id="google_logout">로그아웃</button>
                    </li>
                    <li>
                        <div id="kakao_login">카카오 로그인</div>
                        <button id="kakao_logout">로그아웃</button>
                    </li>
                    <li>
                        
                        <div id="naverIdLogin_loginButton">네이버 로그인</div>
                        <button id="naver_logout">로그아웃</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
</div>
</body>
</html>

<style>
    .linkLst li {
        margin-bottom: 20px;
    }
    button {
        margin-left: 20px;
    }
</style>